@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: block;
  background-color: #f2868677;
  color: #30262A;
  font-family: Roboto Mono, sans-serif;
  scroll-behavior: smooth;
}


.navs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 20px;
  width: 100%;
}

.barra-nav1 {
  display: flex;
  flex-direction: row;
}

.logomirabel {
  width: 350px;
  height: 120px;
}

/* Grow */
.logomirabel {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.logomirabel:hover,
.logomirabel:focus,
.logomirabel:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.barra-nav2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto 50px;
  font-size: 38px;
  gap: 100px;
  white-space: nowrap;
}

.botaohome {
  color: #30262A;
}

.botaosobre {
  color: #30262A;
}

.botaohelp {
  color: #30262A;
}

.botaologin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto Mono, sans-serif;
  min-height: 60px;
  width: 120px;
  text-orientation: center;
  font-size: 24px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  user-select: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  background: #F28686;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.botaologin:hover {
  background: #0edb4b;
  transition: background-color 0.5s ease-out 0s, color, opacity, border;
}



.botaohome:hover {
  color: #f3f3f3;
}

.botaosobre:hover {
  color: #f3f3f3;
}

.botaohelp:hover {
  color: #f3f3f3;
}

.botaologin:hover {
  color: #f3f3f3;
}

.principal {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-top: 20px;
  border-top: solid 0.5px white;
  color: #30262A;
  font-family: Roboto Mono, sans-serif;
  margin: 0px 100px;
}

.container-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titulo {
  font-size: 56px;
  padding: 20px 0px 10px;
}

.handsicone {
  height: 60px;
  width: 60px;
  animation: 2s linear infinite handsicone;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes handsicone {
  0% {
    transform: rotate(0deg);
  }

  5% {
    transform: rotate(10deg);
  }

  10% {
    transform: rotate(20deg);
  }

  15% {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(40deg);
  }

  25% {
    transform: rotate(50deg);
  }

  30% {
    transform: rotate(60deg);
  }

  35% {
    transform: rotate(70deg);
  }

  40% {
    transform: rotate(80deg);
  }

  45% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(100deg);
  }

  55% {
    transform: rotate(90deg);
  }

  60% {
    transform: rotate(80deg);
  }

  65% {
    transform: rotate(70deg);
  }

  70% {
    transform: rotate(60deg);
  }

  75% {
    transform: rotate(50deg);
  }

  80% {
    transform: rotate(40deg);
  }

  85% {
    transform: rotate(30deg);
  }

  90% {
    transform: rotate(20deg);
  }

  95% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.lorem {
  font-size: 30px;
  padding: 20px 0px 10px;
}


.nav-itens {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  box-sizing: border-box;
  list-style-type: none;
  align-items: inherit;
  padding-bottom: 30px;
  gap: 25px;
  padding-left: 50px;
}

.buttons-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 600px;
  gap: 60px;
  padding-bottom: 100px;
}

.addbutton {
  font-family: Roboto Mono, sans-serif;
  min-height: 80px;
  min-width: 80px;
  font-size: 24px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  user-select: none;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  background: #F28686;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.addbutton:hover {
  background: #FF7BB0;
  transition: background-color 0.9s ease-out 0s, color, opacity, border;
}

.aboutbutton:hover {
  color: white;
}

.aboutbutton {
  font-family: Roboto Mono, sans-serif;
  min-height: 80px;
  min-width: 80px;
  font-size: 24px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  user-select: none;
  flex-shrink: 0;
  border-radius: 10px;
  outline: none;
  text-decoration: none;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: none;
}



@keyframes rotate {
  0% {
    top: 0;
    left: 5%;
  }

  25% {
    top: 8%;
    left: 0%;
  }

  50% {
    top: 16%;
    left: -5%;
  }

  75% {
    top: 8%;
    left: 5%;
  }

  100% {
    top: 0;
    left: -5%;
  }
}


.front {
  display: flex;
  flex-direction: 2 column;
  align-items: flex-start;
  gap: 50px;
  width: 1850 px;
  height: 400px;
  padding-bottom: 300px;
}


.perfilmirabel {
  width: 700px;
  height: 700px;
}

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 50px;
  border-bottom: solid 0.5px white;
  border-top: solid 0.5px white;

}

.ourpartners {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.partnerslist {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 50px;
  padding-top: 50px;
  padding-left: 200px;

}


.balle {
  height: 250px;
  width: 250px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
}

.balle {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.balle:hover,
.balle:focus,
.balle:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.discordlogo {
  height: 250px;
  width: 250px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
}

.discordlogo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.discordlogo:hover,
.discordlogo:focus,
.discordlogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.disneylogo {
  height: 250px;
  width: 250px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
}

.disneylogo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.disneylogo:hover,
.disneylogo:focus,
.disneylogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hostingerlogo {
  height: 250px;
  width: 250px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 15px;
}

.hostingerlogo {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hostingerlogo:hover,
.hostingerlogo:focus,
.hostingerlogo:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 90px;
  margin-left: 200px;
  margin-right: 200px;
}

.rights {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  font-family: "Maven Pro 700", sans-serif;
  font-size: 30px;
}

.rodape-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
}

.facebook {
  height: 80px;
  width: 80px;
}

.instagram {
  height: 80px;
  width: 80px;
}

.whatsapp {
  height: 80px;
  width: 80px;
}

.linkedin {
  height: 80px;
  width: 80px;
}



/* dark mode construction */